<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>532C8148184D45A2A4417E98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86031CAE2FC248FA942A5BF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB736859FD284AEB96DF768B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBD8A9BEE34B40748B266468</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C66717B0AFF744C895614549</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C97A09FA01D340558A143A65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFA7CEC125294317BB1A612F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9F0457FF3D04F199C1F422C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E362364744154E00A5A76A37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9C9C2BAF64F49DAA4997EC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC3B7B2087C64C9F8498CA41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
